<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Iniciar sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="row margin-0 center-xs">
    <ion-card mode="ios" class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <ion-card-header>
        <form [formGroup]="formulario" (ngSubmit)="enviar()" (keyup.enter)="enviar()" autocomplete="on">
  
          <div class="row center-xs">
            <ion-text color="primary"><h4>Iniciar sesion</h4></ion-text>
          </div>
          <mat-dialog-content>
           
            <div class="row center-xs">
              <mat-form-field class="w-172" appearance="outline">
                <mat-label>Correo (*)</mat-label>
                <input matInput placeholder="Correo"  formControlName="correo">
              </mat-form-field>
            
              <mat-form-field class="w-172" appearance="outline">
                <mat-label>Contraseña (*)</mat-label>
                <input matInput placeholder="Contraseña (*)"  formControlName="contrasena" type="password">
              </mat-form-field>              
              
            </div>
          </mat-dialog-content>
        
          <div class="row margin-0 center-xs">
            <div class="col-xs-12">
              <ion-button (click)="iniciarSesion()" size="small" type="submit" [disabled]="formulario.invalid"  mode="ios">iniciar</ion-button>
  
            </div>
            <div class="col-xs-12">
              <p>no tienes cuenta?</p>
  
            </div>
            <div class="col-xs-12">
              <ion-button (click)="modalRegistro()" mode="ios" size="small" type="button">Registrarme</ion-button>
            </div>
  
          </div>
             
        </form>
      </ion-card-header>
    </ion-card>
  </div>
  
  
</ion-content>
