
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #1089ff;
  --ion-color-primary-rgb: 16,137,255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #0e79e0;
  --ion-color-primary-tint: #2895ff;

  --ion-color-secondary: #23374d;
  --ion-color-secondary-rgb: 35,55,77;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #1f3044;
  --ion-color-secondary-tint: #394b5f;

  --ion-color-tertiary: #e5e5e5;
  --ion-color-tertiary-rgb: 229,229,229;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #cacaca;
  --ion-color-tertiary-tint: #e8e8e8;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  //colores para el status
  --ion-color-pendiente: #FFC107;
  --ion-color-pendiente-rgb: 255,193,7;
  --ion-color-pendiente-contrast: #000000;
  --ion-color-pendiente-contrast-rgb: 0,0,0;
  --ion-color-pendiente-shade: #e0aa06;
  --ion-color-pendiente-tint: #ffc720;
  
  --ion-color-terminada: #44BD32;
  --ion-color-terminada-rgb: 68,189,50;
  --ion-color-terminada-contrast: #000000;
  --ion-color-terminada-contrast-rgb: 0,0,0;
  --ion-color-terminada-shade: #3ca62c;
  --ion-color-terminada-tint: #57c447;

  //color del toolbar
  --ion-toolbar-background: var(--ion-color-secondary);
  --ion-toolbar-color: var(--ion-color-secondary-contrast)
}

// colores para es estatus
.ion-color-pendiente {
  --ion-color-base: var(--ion-color-pendiente);
  --ion-color-base-rgb: var(--ion-color-pendiente-rgb);
  --ion-color-contrast: var(--ion-color-pendiente-contrast);
  --ion-color-contrast-rgb: var(--ion-color-pendiente-contrast-rgb);
  --ion-color-shade: var(--ion-color-pendiente-shade);
  --ion-color-tint: var(--ion-color-pendiente-tint);
}

.ion-color-terminada {
  --ion-color-base: var(--ion-color-terminada);
  --ion-color-base-rgb: var(--ion-color-terminada-rgb);
  --ion-color-contrast: var(--ion-color-terminada-contrast);
  --ion-color-contrast-rgb: var(--ion-color-terminada-contrast-rgb);
  --ion-color-shade: var(--ion-color-terminada-shade);
  --ion-color-tint: var(--ion-color-terminada-tint);
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #428cff;
    --ion-color-primary-rgb: 66,140,255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #3a7be0;
    --ion-color-primary-tint: #5598ff;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80,200,255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106,100,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47,223,117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255,213,52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255,73,97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34,36,40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-toolbar-background: #0d0d0d;

    --ion-item-background: #000000;
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//libreria preferida para flexbox
@import '~flexboxgrid-sass/flexboxgrid.scss';



// arreglo hasta 1000 recomendado para propiedades que no usen porcentaje
@for $i from 0 through 1000{
  //------------------------ redondear bordes 
  .borde-radio-#{$i} {
    border-radius: #{$i}px !important;
  }

  .borde-radio-top-#{$i} {
    border-radius: #{$i}px #{$i}px 0 0 !important;
  }

  .borde-radio-buton-#{$i} {
    border-radius: 0 0 #{$i}px #{$i}px !important;
  }
  //--------------------------

  // margen
  .margin-#{$i} {
    margin: #{$i}px !important;
  }
  //margin vertical
  .margin-vertical-#{$i} {
    margin-top: #{$i}px !important;
    margin-bottom: #{$i}px !important;
  }
  //margin horizontal
  .margin-horizontal-#{$i} {
    margin-left: #{$i}px !important;
    margin-right: #{$i}px !important;
  }
  //margin top
  .margin-top-#{$i} {
    margin-top: #{$i}px !important;
  }
  //marging bottom
  .margin-bottom-#{$i} {
    margin-bottom: #{$i}px !important;
  }
  //margin margin-left
  .margin-left-#{$i} {
    margin-left: #{$i}px !important;
  }
  //margin right
  .margin-right-#{$i} {
    margin-right: #{$i}px !important;
  }

  //pading
  .padding-#{$i} {
    padding: #{$i}px !important;
  }

  .padding-top-#{$i} {
    padding-top: #{$i}px !important;
  }
  .padding-bottom-#{$i} {
    padding-bottom: #{$i}px !important;
  }
  .padding-start-#{$i} {
    padding-left: #{$i}px !important;
  }
  .padding-end-#{$i} {
    padding-right: #{$i}px !important;
  }

  .padding-horizontal-#{$i} {
    padding-left: #{$i}px !important;
    padding-right: #{$i}px !important;
  }

  .padding-vertical-#{$i} {
    padding-top: #{$i}px !important;
    padding-bottom: #{$i}px !important;
  }

  //-------- tamano del texto en pixeles
  .text-#{$i} {
    font-size: #{$i}px !important;
  }
  //
  // ancho en pixeles 
  .w-#{$i} {
    width: #{$i}px !important;
  }
  // alto en pixeles
  .h-#{$i} {
    height: #{$i}px !important;
  }
  // truncar texto especificando a partir de que linea
  .trunc-#{$i} {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: $i;
    
    -webkit-box-orient: vertical;
    
  }
  //------------------------
  // le cambia el tamano a cualquien elemento en forma simetrica 
  .avatar-#{$i} {
    overflow: hidden;
    width: #{$i}px !important;
    height: #{$i}px !important;
  }

  .max-h-#{$i} {
    max-width: #{$i}px !important;
  }

  .maxmin-h-#{$i} {
    min-height: #{$i}px !important;
    max-height: #{$i}px !important;
  }
}